.optionsList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.btn{
    width: 80px;
    height: 40px;
    background-color: gray;
    cursor: pointer;
    transition: transform 900ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}